<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590574957132-9e0b54cfdfb4fbda8vopnan9tgiiopgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590574957132-9e0b54cfdfb4fbda8vopnan9tgiiopgi</string>
	<key>API_KEY</key>
	<string>AIzaSyD-pvE_snOL0rqcanAE6QIZNjAssQAmohs</string>
	<key>GCM_SENDER_ID</key>
	<string>590574957132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluttercubitfirebase.app.dev</string>
	<key>PROJECT_ID</key>
	<string>flutter-cubit-firebase-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-cubit-firebase-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590574957132:ios:dcff9fb76bfcb6f88bbae9</string>
</dict>
</plist>